﻿@model SpiderRobot.Domain.Model.SpiderWallViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spider Robot</h1>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h3>Input</h3>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="Coordinates">Max Coordinates</label>
                @Html.TextBoxFor(x => x.MaxCoordinates, new {@class = "form-control", placeholder = "Max-X Max-Y coordinates", required = true })
            </div>
            <div class="form-group">
                <label for="Location">Location/Orientation</label>
                @Html.TextBoxFor(x => x.CurrentLocation, new { @class = "form-control", placeholder = "X Y Orientation", required = true})
            </div>
            <div class="form-group">
                <label for="InstructionsText">Instructions</label>
                @Html.TextBoxFor(x => x.InstructionsText, new { @class = "form-control", placeholder = "Instructions code", required = true })
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Send" class="btn btn-primary"/>
                <a href="/" class="btn btn-primary">Clear</a>
            </div>
        }
    </div>
    <div class="col-md-3">
        <h3>Ouput</h3>
        <div class="form-group">
            <label for="XCoordinate">X Y Orientation</label>
            <h5 class="text-primary">@Html.DisplayFor(x => x.Output)</h5>
        </div>
    </div>
</div>