﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 0;
        padding-bottom: 0;
        padding: 20px;
         margin-bottom: 0; 
        font-size: 21px;
        font-weight: 200;
        line-height: 2.1428571435;
        color: inherit;
        background-color: #eeeeee;
    }
}